/* 
Kostas Goutoudis
gks ERP
www.gks.gr
*/

.item_asset {
  width:calc(100% - 10px);
}
.item_sxolio {
  width:calc(100% - 10px);
}
.item_remove {
  color: #dc3545;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 25px;
}

.item_add {
  color: #35dc35;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 25px;  
}
